#Comments about files to be ignored
####if my folder has a # in his name : \#folder_name
#####!Videos/temp/* => this is an exception or we can also create another gitignore file for exceptions
*.mp4
ToBeIgnored/*
